@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  color: #209b42;
  background-color: #209b42;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #ffffff;
}
#activate {
  display: none;
}
.active {
  display: flex;
}
.swiper-button-next {
  margin-top: 300px;
}

#textsizer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
#lavashsh {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  height: 45px;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #209b42;
  font-size: 17px;
  border-radius: 20px;
  transition: ease-out 0.1s;
}
.mySwiper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide {
  margin: 20px 0;
}
#activer:active {
  text-decoration: underline;
  color: #209b42;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* .swiper-slide-active{
    transform:scale();
} */
.CardLink {
  display: flex;
  gap: 20px;
}

#sliders {
  position: relative;
  z-index: 1;
  right: 2rem;
  height: 100%;
  width: 100%;

  /* background-color: yellow; */
}
#sliders.fixed {
  position: fixed;
  top: 6%;
  margin: 3rem;
}

#mobile-animation:hover {
  animation: shake 1s;
  transform-origin: center;
}

@keyframes shake {
  11.1% {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    transform: none;
  }
}


/* menu */

body {
  overflow-x: hidden;
  margin: 0;
}

#MenuSu {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #000000;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(78, 77, 77);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 16px;
  top: 19px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
  display: none;
   

 

 
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000000;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  z-index: 20;
  opacity: 10px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #000000;
}

/* Styling of overlay */
.bm-overlay {
  
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1000px) {
 .bm-burger-bars {
    display: flex;
    position: relative;
   
  }
}
